header
    position: relative
.nav
    background: #1B274A
    width: 100%
    height: 50px
.menu
    display: flex
    justify-content: space-between
    list-style-type: none
    margin: 0 0 0 0
    li
        color: white
        font-weight: 400
        font-size: 14px
        line-height: 24px
    img
        width: 21px
        height: 21px
    .menu_link
        color: #FFA14D
        text-decoration: none
        border-bottom:1.5px dashed
    .menu_phone
        color: #FFA14D
        text-decoration: none 
        border-right: 1px solid grey
        padding-right: 8px
    .menu_pad_li
        padding: 15px 0 0 0
    .menu_btn
        width: 208px
        height: 50px
        background-color: #FF7800
        color: white
        border-style: none
    .i_padding
        padding-right: 7px
.head_site
    display: flex
    margin-top: 18px
    .head_site_text
        color: #1B274A
        font-weight: 500
        font-size: 10px
        line-height: 20px
        margin-left: 10px
        padding: 5px 0 0 0
        span
            font-weight: 500
            font-size: 28px
            line-height: 33px
    .logo_img
        width: 60px
        height: 60px
    .col-md-3
        display: flex
    .head_site_right_box
        display: flex
        justify-content: space-between
        padding: 22px 40px 0 60px
        .head_site_right_text
            font-weight: 500
            font-size: 18px
            line-height: 24px
            color: #1B274A
            text-decoration: none
        .orange
            color: #FF7800
        .dropmenu_logo
            width: 10px
            height: 10px
        .head_site_dropdown
            display: inline-block
            position: relative
            font-weight: 500
            font-size: 18px
            line-height: 24px
            .head_site_dropdown_context
                display: none
                position: absolute
                width: auto
                overflow: auto
            .head_site_dropdown_context a
                display: block
                color: #1B274A
                text-decoration: none
            &:hover .head_site_dropdown_context
                display: block
.route
    display: flex
    margin-top: 47px
    .col-md-3
        position: relative
        .home_img
            position: absolute
            left:12px
            top:2px
        .route_text_box
            margin-left: 24px
            .route_text
                margin-right: 8px
                text-decoration: none
                font-weight: 400
                font-size: 14px
                line-height: 20px
                color: #FF7800
                &:last-child
                    margin-left: 9px
.header1
    font-weight: 500
    font-size: 46px
    line-height: 69px
    color: #1B274A
.header2
    font-weight: 500
    font-size: 22px
    line-height: 33px
    color: #1B274A
    margin-top: 25px
.descr
    font-weight: 400
    font-size: 22px
    line-height: 33px
    color: #1B274A
.main_info
    margin-top: 50px
    position: relative
    background: url('../img/main/main_bg.png')no-repeat 
    background-position: 100% 30%
    background-size: 50% 70%
    margin-bottom: 64px
    .main_info_ul
        li
            color: #FF7800
            position: relative
            font-size: 27px
            margin:25px 0 0 20px
        span
            font-weight: 300
            font-size: 22px
            line-height: 33px
            color: #1B274A
    .mod1
        width: 568px
        height: auto
        margin-top: 25px
.divider
    background-color: #FFA14D
    width: 1115px
    height: 1px
    margin: 0 auto
.vecancies
    margin-top: 76px
    .drop_menu_card
        height: 89px
        border-bottom: 1px solid #3897F0
        display: flex
        justify-content: space-between
        align-items: center
        position: relative
        .drop_menu_link
            font-weight: 400
            font-size: 32px
            line-height: 40px
            color: #3897F0
        .drop_card_menu_content
                padding: 32px 0 0 0
                display: block
                position: absolute
                width: 100%
                overflow: auto
        &:hover .drop_card_menu_content
                display: block
                background-color: white
        .card_header
                font-weight: 400
                font-size: 32px
                line-height: 40px
                color: #FF7800
        .card_descr
            font-weight: 400
            font-size: 22px
            line-height: 33px
            color: #1B274A
            .mod2
            margin-top: 25px
        .card_ul
            font-weight: 500
            font-size: 32px
            line-height: 40px
            color: #1B274A
            padding: 32px 0 0 0
        li
            color: #FF7800
            position: relative
            font-size: 27px
            margin:25px 0 0 35px
        .card_ol
            font-weight: 500
            font-size: 32px
            line-height: 40px
            color: #1B274A
            padding: 32px 0 0 0
            li
                color: #FF7800
                position: relative
                font-size: 22px
                margin:25px 0 0 35px
        .card_btn
            background: #FF7800
            border: none
            border-radius: 4px
            width: 185px
            height: 64px
            color: white
            font-weight: 500
            font-size: 18px
            line-height: 27px
            margin:48px 0 50px 0
        span
            font-weight: 400
            font-size: 14px
            line-height: 20px
            color: #3897F0
        img
            margin-left: 18px

                